* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 90px;
    border-radius: 5px;
    background-color: #DDD;
}

.container__content {
    flex: 1 0 40%;
    height: 200px;
    background-color: #3a87da;
}

.content__top-left {
    background: url('../images/financial-background.jpg') no-repeat;
    background-size: cover;
    border-radius: 5px 0 0 0;
}

.content__top-right {
    border-radius: 0 5px 0 0;
}

.content__bottom-left {
    border-radius: 0 0 0 5px;
}

.content__bottom-right {
    background: url('../images/financial-with-people-background.jpg') no-repeat;
    background-size: cover;
    border-radius: 0 0 5px 0;
}

.content__api, .content__websocket {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.content__wrapper {
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: azure;
}

h1, h2 {
    font-family: cursive;
    font-size: 16px;
    color: #0069d9;
    border-bottom: 1px solid #0069d9;
}

h1 {
    text-align: center;
    margin: 20px 100px;
}

.stock__list {
    list-style: none;
    margin: 0;
    padding: 0 5px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

 .stock__list--item {
    display: flex;
    align-items: center;
 }

.stock__symbol {
    flex-basis: 17%;
    font-weight: bold;
}

.stock__price--text {
    flex-basis: 8%;
    font-family: cursive;
    font-size: 12px;
    color:  #0069d9;
}

.stock__price {
    flex-basis: 12%;
    font-size: 12px;
    font-weight: bold;
}


.stock__ticker {
    display: flex;
}

.stock__ticker .stock__price--text, .ellipses {
    flex-basis: 15%;
    padding-right: 10px;
    text-align: right;
    font-weight: bold;
    font-style: italic;
}


.disclaimer,
.author {
    font-family: cursive;
    font-style: italic;
    font-size: 11px;
    text-align: right;
    margin: 10px 0 0 0;
    padding: 0;
}

.disclaimer p {
    margin: 0;
    padding: 0;
}
